# Add any directories, files, or patterns you don't want to be tracked by version control# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*
Assets/Drag/
Assets/Drag.*
Assets/StreamingAssets/
Assets/StreamingAssets/build_info.txt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.log
/default-2021.dwlt
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ============ #
# Spriter      #
# ============ #
*.scml
*.scml.meta
Assets/VsCode*
Assets/Test*
.vscode*
.vs*
/vs/tower-defense-2(android)/v15/Server/sqlite3/storage.ide
*.apk
*.keystore
Assets/UnityVS*
/Assets/FR2_Cache.asset
/.idea/
/UserSettings/Layouts/default-2021.dwlt
